ul {
    display: flex;
    padding: 5;
    margin: 10;
    list-style: none;
    height: 150px;
    border: 0px;

}

li {
    background: tomato;
    width: 100px;
    height:100px;
    margin:auto;
li.flex-container {
    display:flex;
    flex-direction: row;
    delx-wrap: wrap;
    flex-flow: wrap;
    flex-flow: row wrap;
    justify-content: space-around;

}

line-height: 150px;
color: white;
font-weight: bold;
font-size: 3em;
text-align: center;
}